@use "../variables/colors" as color;
@use "../functions/inc" as *;
@use "../mixins/breakpoints" as *;

.header {
  width: 100%;
  min-height: rem(750);
  max-height: 80vh;
  background: linear-gradient(to top, color.$black, transparent),
    url("../images/heroBG.jpg");
  background-position: center;
  flex-direction: column;
  position: relative;

  @include breakpoint-down("small") {
    min-height: rem(700);
  }
  @include breakpoint-down("xsmall") {
    min-height: rem(517);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, color.$black, transparent);
    z-index: 1000;
  }
}
