@use "../variables/colors" as color;
@use "../functions/inc" as *;
@use "../mixins/breakpoints" as *;

.header {
  &__nav {
    max-width: 1920px;
    width: 100%;
    padding-top: rem(28);
    padding-left: rem(56);
    padding-right: rem(56);
    z-index: 2000;
    &__logo {
      height: rem(45);
      fill: color.$primary;

      @include breakpoint-down("medium") {
        height: rem(32);
      }
    }
  }
}
